@{
    ViewData["Title"] = "Home Page";

    
}

@model Manager 


<div class="text-center">
    <h1 class="display-4">Login to Employee Management System</h1>
    <br />
    <br />


    <!--This is a submit form using cshtml syntax-->
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {


        <!--Textbox for email-->
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
        <!--Binds the validation rules with html elements to display the error-->
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error" })



        <br />
        <br />

        <!--Password field-->
        @Html.PasswordFor(model => model.Password, new { @class = "form-control",@id = "pwdField", @placeholder = "Password" })
        <!--Binds the validation rules with html elements to display the error-->
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error" })

        <br />
        <br />
        <br />

        <button type ="submit" value="Login" class="btn btn-primary" id="submit">Login</button>
    }


</div>


<!--Loading DOTS-->
 <div class="loader" id="ldr"></div>